<div class="navbar-fixed-top">
  <div class="navbar-inner">
    <%= link_to @chat.name.to_s.capitalize, @chat, class: "chat-name" %>
    <%# link_to @chat.name.to_s.capitalize, @chat, class: "visible-phone" %>
    <ul class="nav">
      <li>
        <div class="pull-right visible-phone">
          <%= link_to '#', class: "btn btn-success btn-large", id: "open-sidebar" do %>
            <i class="icon-plus icon-white"></i>
          <% end %>
        </div>
        <div class="btn-group pull-right">
          <%= link_to new_chat_invitations_path(@chat), class: "btn btn-info hidden-phone", id: "invite_user" do %>
            <i class="icon-user icon-white"></i>
          <% end %>
          <%= link_to '#', :class => "btn btn-success hidden-phone", :id => "submit_photo" do %>
            <i class="icon-camera icon-white"></i>
          <% end %>
          <%= link_to "#", :class => "btn btn-info hidden-phone", :id => "submit_location" do %>
            <i class="icon-map-marker icon-white"></i>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>
