<% if flash[:notice] %>
  <div id='flash'>
    <p><%= flash[:notice] %></p>
  </div>
<% end %>

<div class="row-fluid">
  <h1 class="text-center">Welcome to RunTalk</h1>
  <div >
    <%= form_tag("/search", :method => "get", class: "form-search") do %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search", :class =>"btn btn-info") %>
    <% end %>
  </div>
</div>

</form>
<h1 class="text-center">Create a Room</h1>
<form class="well form-search text-center">
  <%= form_tag("/search", :method => "get") do %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Create", :class =>"btn btn-info") %>
  <% end %>
</form>


<ul>
  <li>search box for chatroom. search box finds or creates a chatroom???</li>
  <li>User can click a button to add their location</li>
  <li>User can take a picture from their webcam</li>
  <li>maybe show the most active rooms</li>
  <li>maybe allow people to log in and moderate rooms they have created</li>
  <li>if moderation is allowed, chatroom-mod should be able to block people</li>

</ul>

<%= link_to "Create New Chatroom", :action => "new" %>

</br>

<%= link_to "Sign Up", new_users_path %>

</br>

<%= link_to "Log In", new_sessions_path %>
