<div class="navbar-fixed-top">
  <div class="navbar-inner">
    <a href="/"  class="chat-name text-center">RunTalk</a>
  </div>
</div>

<% if flash[:notice] %>
  <div id='flash'>
    <p><%= flash[:notice] %></p>
  </div>
<% end %>

<div class="center-fields text-center">
<h2>Create your Chat Room</h2>
<%= simple_form_for @chat, html: { :class => 'text-center' } do |f| %>
  <%= f.input :name, input_html: { value: params[:name], style: "width: 264px; font-size: 50px; height: 50px;" } %>
  <%= f.input :slug, input_html: { value: params[:name].to_s.downcase.gsub(/\s+/, ""), style: "width: 264px; font-size: 50px; height: 50px;" }, :label => "URL" %>
  <%= f.submit 'Create Chatroom', class: 'btn btn-info' %>
<% end %>
</div>

