<div class="row-fluid">
  <div class="span12">
      
      <%= render "top_navbar" %>

      <%= render 'message_window' %>
      
      <%= render 'bottom_bar' %>

  </div>
</div>


<%= subscribe_to chat_path(@chat) %>
<%= render 'user_location'  %>
<%= render 'user_photo'  %>
