<div class="row-fluid">
  <div class="span12">
    <h1><%= @chat.name.capitalize %></h1>
    <div class="span10 offset1">
      <ul class="unstyled" id="messages">
        <%= render partial: "messages/message", collection: @chat.messages %>
      </ul>

      <%= form_for [@chat, Message.new], remote: true,class: "form-search" do |f| %>
        <%= f.text_field :content, placeholder: "chat here...", class: "input-large search-query" %>
        <%= f.submit "Submit", id: 'submit_message', class: "btn btn-info" %>
      <% end %>
      
    </div>
  </div>
</div>


<%= subscribe_to chat_path(@chat) %>


<script>
// if user clicks button to add location. 
// run this code and 'POST' it to locations#create
// message has one location 
function success(position) {
  
  var lattitude = position.coords.latitude;
  var longitude = position.coords.longitude;
  var accuracy = position.coords.accuracy
  console.log(position.coords);
  console.log(position.coords.latitude);
  console.log(position.coords.longitude);
  console.log(position.coords.accuracy);
}

function error(msg) {
  var s = document.querySelector('#status');
  s.innerHTML = typeof msg == 'string' ? msg : "failed";
  s.className = 'fail';
  
  // console.log(arguments);
}

if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(success, error);
} else {
  error('not supported');
}

</script>
