<h2>Create an Account</h2>

<% if flash[:notice] %>
  <div id='flash'>
    <p><%= flash[:notice] %></p>
  </div>
<% end %>

<%= simple_form_for @user do |f| %>
  <%= f.input :username %>
  <%= f.input :email %>
  <%= f.input :password %>

  <%= f.submit 'Create Account', class: 'btn' %>
<% end %>