<div class="text-center">
  <h2>Create an Account</h2>

  <% if @invitation %>
    <p> Invitation to Chatroom </p>
  <% end %>


  <%= simple_form_for(@user) do |f| %>
    <%= f.input :username %>
    <%= f.input :email, input_html: {value: @user.email}%>
    <%= hidden_field_tag :chat_id, params[:chat_id] %>
    <%= f.input :password %>

    <%= f.submit 'Create Account', class: 'btn' %>
  <% end %>
</div>
