<div class= "text-center">
  <h1>Log In</h1>
  <% if flash[:notice] %>
    <div class='alert'>
      <h3 class="text-center"><%= flash[:notice] %></h3>
    </div>
  <% end %>
  <%= form_tag sessions_path(chat_id: params[:chat_id]) do %>
    <div class="field">
      <%= label_tag :username %>
      <%= text_field_tag :username, nil, required: true %>
    </div>
    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password, nil, required: true %>
    </div>

    <div class="actions"><%= submit_tag "Log in", class: "btn" %></div>
  <% end %>
</div>
