<li>
  <span id="created_at" class="pull-left"><%= message.created_at.strftime("%H:%M") %>:  </span>
  <span class="message_content"><b><%= message.content %></b></span>
</br>
  <% if message.location %>
  <div class="text-right">
    <%= link_to message.location.google_map_url, target: "blank" do %>
    <%= image_tag (message.location.map_url || "http://placehold.it/200x50"), :class => "picture", style: "width: 100%; max-width: 600px;" %>
    <% end %>
  </div>
  <% end %>

  <% if message.photo %>
  <div class="text-right">
    <%= link_to message.photo.filepicker_url, id:message.id, target: "blank" do %>
    <%= image_tag (message.photo.filepicker_url || "http://placehold.it/200x50"), id: message.photo.id ,:class => "picture", style: "width: 100%; max-width: 600px;" %>
    <% end %>
  </div>
  <% end %>

</li>
