<li>
  <div class="span12 message">
    <div class="span2">
      <%= image_tag ("http://placehold.it/60/60"), class: "img-rounded pull-right", style: "margin-left: 1px;" %>
    </div>
    <div class="single-message span10">
      <span class="message_content">
        <span class="pull-left"><b>username:</b></span>
        <span class="pull-left message_created_at">
          <%= message.created_at %>
        </span>
        <span><br><%= message.content %></span>
      </span>
      <% if message.location %>
      <div>
        <%= link_to message.location.google_map_url, target: "blank" do %>
        <%= image_tag (message.location.map_url || "http://placehold.it/200x50"), :class => "message-picture", style: "width: 100%; max-width: 600px;" %>
        <% end %>
      </div>
      <% end %>

      
      <% if message.photo %>
        <div class="text-right">
          <%= link_to message.photo.photo_url, id:message.id, target: "blank" do %>
          <%= image_tag (message.photo.photo_url || "http://placehold.it/200x50"), id: message.photo.id ,:class => "message-picture", style: "width: 100%; max-width: 600px;" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</li>
